{{!-- <h1>Log in page</h1>

<form action="/login" method="POST">
    <div className="wrap-input">
        <input id="userName" className="userName" type="userName" name="userName" placeholder=" eg. username123"/>
                <span className="focus-input"></span>
    </div>
    <div className="wrap-input">
        <input id="password" className="input" name="password" placeholder="Password"/>
            <span className="focus-input"></span>
    </div>
    <div className="container-button">
        <button className="buttons">
            <span>Submit<i className="arrow-button"></i>
            </span>
        </button>
     </div>
</form>

<p>{{err}}</p> --}}

 <div class="custom-container">
        <h1 class="text-center m-4 text-success">Blog web</h1>
        <div class="jumbotron">
            {{!-- <h3 class="text-center text-primary">Login Form</h3>
            <br>
            {{#if success}}
            <div class="alert alert-success alert-dismissible fade show">
                <strong>{{success}}</strong>
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>
            {{/if}}
            {{#if error}}
            <div class="alert alert-danger alert-dismissible fade show">
                <strong>{{error}}</strong>
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>
            {{/if}} --}}

            <form action="/user/login" id="login" method="POST" >
                <div class="form-group">
                    <label for="email">Email Id <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email id"
                    value="{{email}}">
                </div>
                <div class="form-group">
                    <label for="password">Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" id="password" 
                    
                    placeholder="Enter Your Password" value="{{password}}">
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-info btn-block">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            New user? Register <a href="/user/signup">here</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>  
